<div class="jumbotron">
<h1>Agile Manifesto Signers</h1>


  <button (click)="seeAll()">See All</button> <br>
  <input #name
         (keyup.enter)="searchName(name.value)"
         (blur)="searchName(name.value); name.value='' ">

  <button (click)="searchName(name.value)">Search Name</button>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Time</th>
    <th>Job Title</th>
    <th>Description</th>
    <th>Url</th>
  </tr>
  </thead>
  <tbody>
  <tr  *ngFor="let signer of signers">
    <td [innerHtml]="signer.name"> </td>
    <td [innerHtml]="signer.date" ></td>
    <td [innerHtml]="signer.pos"></td>
    <td [innerHtml]="signer.description"></td>
    <td [innerHtml]="signer.url"></td>
  </tr>
  </tbody>
</table>
</div>
